@{
    ViewBag.Title = "Status";
}
@{
    var status = ViewBag.QuestionText as List<Repository.DTO.QuestionInstanceDto>;
}
<h2>Status</h2>

<div>
    @Html.ValidationSummary(true)

    @if (ViewBag.Message != null)
    {
        <div style="border:2px solid red">
            @ViewBag.Message;
        </div>
    }
    <div
        <ol>
            @foreach (var item in status)
            {
                if (item.AnswerSaved == false)
                {
                    <li style="color:red">@item.QuestionId</li>
                }
                else
                {
                    <li style="background-color: green">@item.QuestionId</li>
                }
                
            }
        </ol>
    </div>



</div>