@{
    ViewBag.Title = "Sustine Quiz";
    var quizesForUser = ViewBag.quizesForUser as Dictionary<string, string>;
}

<h2>Sustine Quiz-uri</h2>

<ul>
    @foreach (var item in quizesForUser)
    {
        <li>
            <a class="btn btn-default" href="@Url.Action("TakeQuiz", "Home", new { quizInstanceId = item.Key })">@item.Value</a>
        </li>
    }
</ul>
