@model QuizApp.Models.SustainQuiz
@{
    ViewBag.Title = "Sustine Quiz";
}

@{
      var quizForuser = ViewBag.quizForUser as List<Repository.DTO.QuizDto>;

}

<h2>Sustine Quiz-uri</h2>

<ul>
   
     @foreach (var item in quizForuser)
     {
      <li>
          <a href="/Home/SustainQuiz" onclick=""> @item.QuizTitle </a>
         
      </li>
     }

    
</ul>
<script type="text/javascript">
    function saveQuizId(data) {    
        Session["QuizId"]=data;
        return true;
    }
</script>