@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

    <div> <h1>Toate intrebarile.....</h1></div>
    <div>
        <input id="btnNewQuestion" type="button" value="Intrebare noua" />
        <ul>
            <li>
                <a href="@Url.Action("Question")"> Prima intrebare </a>
            </li>
            <li>
                <a href="@Url.Action("Question")"> A doua intrebare </a>
            </li>
        </ul>
    </div>
