@{
    ViewBag.Title = "Panou Admin";
}

<h2>Panou Admin</h2>

<div>
    <a class="btn btn-default" href="@Url.Action("AllQuestions", "Admin")">Administreaza Intrebari</a>
    <a class="btn btn-default" href="@Url.Action("ViewDomains", "Admin")">Administreaza Domenii</a>
    <a class="btn btn-default" href="@Url.Action("CreateQuiz", "Admin")">Administreaza Quizuri</a>
    <a class="btn btn-default" href="@Url.Action("AssignQuiz", "Admin")">Asigneaza Quizuri</a>
</div>